<!DOCTYPE html>
<html>

<head>
  <title>HouseKeeper</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="./lib/tailwindcss@3.4.16.min.js"></script>
  <link rel="stylesheet" href="./lib/vant@3.6.16.min.css" />
  <script src="./lib/vue@3.5.13.global.prod.js"></script>
  <script src="./lib/vant@3.6.16.min.js"></script>
</head>

<body>
  <div id="app" class="h-screen">
    <header class="p-4 flex justify-between items-center flex-nowrap">
      <van-dropdown-menu style="width: 50px">
        <van-dropdown-item title="|||" :options="menuOptions" @change="onMenuChange">
          <template #title>
            <van-icon name="apps-o" />
          </template>
        </van-dropdown-item>
      </van-dropdown-menu>
      <span>
        <template v-for="(item, index) in navItems">
          <span v-if="index"> / </span>
          <a class="cursor-pointer text-blue-700" @click="handleSelect(item)">{{ item.name }}</a>
        </template>
      </span>
      <span>
        <van-icon name="search" class="cursor-pointer" @click="handleSearch" />
      </span>
    </header>
    <main v-if="currentItem" class="p-4">
      <div v-for="item in currentItem.items" class="border border-solid border-blue rounded-2xl p-2 bg-lime-300 mb-4">
        <van-icon name="bag" />
        <span class="text-lg text-blue-700 mx-2 cursor-pointer" @click="handleSelect(item)">{{ item.name }}</span>
        <span class="text-xs ml-2" v-html="item.content"></span>
      </div>
      <div v-if="navItems.length > 1">
        <textarea class="w-full border border-solid border-gray" v-model="currentItem.content" rows="5"></textarea>
      </div>
      <!-- 展示图片的区域 -->
      <div v-if="currentItem.images && currentItem.images.length > 0">
        <div v-for="(image, index) in currentItem.images" class="flex items-center mb-2">
          <img :src="image" alt="Uploaded Image" style="width: calc(100% - 20px)"
            class="w-auto h-auto object-cover mr-2">
          <van-icon name="close" class="text-red-600 cursor-pointer" @click="deleteImage(index)" />
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <van-button type="primary" @click="handleSave">保存</van-button>
        <van-button v-if="navItems.length > 1" class="ml-4" @click="handleUpload">上传图片</van-button>
        <van-button class="mx-4" @click="showAddModal">添加区域</van-button>
        <van-button type="danger" @click="handleDelete">删除</van-button>
      </div>
      <van-dialog v-model:show="addModalVisible" title="添加区域" show-cancel-button cancel-button-text="取消"
        confirm-button-text="确定" @confirm="handleAdd">
        <van-cell-group inset>
          <van-field v-model="areaName" label="名称" placeholder="请输入区域名称" />
        </van-cell-group>
      </van-dialog>
      <!-- 隐藏的文件输入框，添加 accept 属性 -->
      <input type="file" ref="fileInput" @change="handleFileChange" style="display: none;" accept="image/*">
    </main>
  </div>
  <script src="js/index.js"></script>
</body>

</html>