<!DOCTYPE html>
<html>

<head>
  <title>HouseKeeper</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/vant@3/lib/index.css" />
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/vant@3/lib/vant.min.js"></script>
  <script src="data.js"></script>
</head>

<body>
  <div id="app" class="h-screen">
    <header class="p-4 flex justify-between items-center">
      <!-- 添加菜单按钮 -->
      <van-dropdown-menu>
        <van-dropdown-item title="|||" :options="menuOptions" @change="onMenuChange">
          <template #title>
            <van-icon name="apps-o" />
          </template>
        </van-dropdown-item>
      </van-dropdown-menu>
      <span>
        <template v-for="(item, index) in navItems">
          <span v-if="index"> / </span>
          <a @click="handleSelect(item)">{{ item.name }}</a>
        </template>
      </span>
      <span>
        <van-icon name="search" class="cursor-pointer" @click="handleSearch" />
      </span>
    </header>
    <main class="p-4">
      <div v-for="item in currentItem.items" class="border border-solid border-blue rounded-2xl p-2 bg-lime-300 mb-4">
        <van-icon name="bag" />
        <span class="text-lg text-blue-700 mx-2" @click="handleSelect(item)">{{ item.name }}</span>
        <span class="text-xs ml-2" v-html="item.content"></span>
      </div>
      <div>
        <textarea class="w-full border border-solid border-gray" v-model="currentItem.content" rows="5"></textarea>
      </div>
      <div class="flex justify-center mt-4">
        <van-button type="primary" @click="handleSave">保存</van-button>
        <van-button class="mx-4" @click="showAddModal">添加区域</van-button>
        <van-button type="danger" @click="handleDelete">删除</van-button>
      </div>
      <van-dialog v-model:show="addModalVisible" title="添加区域" show-cancel-button cancel-button-text="取消"
        confirm-button-text="确定" @confirm="handleAdd">
        <van-cell-group inset>
          <van-field v-model="areaName" label="名称" placeholder="请输入区域名称" />
        </van-cell-group>
      </van-dialog>
    </main>
  </div>
  <script>
    if (!houseData.currentHouseId) {
      location.href = "./house-create.html";
    } else {
      const app = Vue.createApp({
        data: () => ({
          addModalVisible: false,
          areaName: '',
          houseData,
          currentItem,
          navItems,
          // 定义菜单选项
          menuOptions: [
            { text: '创建新的房屋', value: 'house-create.html' },
            { text: '我的房屋列表', value: 'my-houses.html' },
            { text: '管理成员', value: 'members.html' }
          ]
        }),
        methods: {
          showAddModal() {
            this.addModalVisible = true;
            this.areaName = '';
          },
          handleAdd() {
            addSubItem(this.areaName);
          },
          handleSave() {
            setTimeout(saveCurrentHouse);
          },
          handleSearch() {
            location.href = "search.html"
          },
          handleSelect(item) {
            selectItem(item.id);
          },
          handleDelete() {
            vant.Dialog.confirm({
              title: '警告',
              message: '确认删除吗？'
            }).then(() => {
              deleteCurrent();
            });
          },
          // 处理菜单选择事件
          onMenuChange(value) {
            location.href = value;
          }
        }
      });
      app.use(vant);
      app.mount('#app');
    }
  </script>
</body>

</html>